<div class="row">
  <div class="col-lg-4">
    <%= form_for(@client) do |f| %>
        <% if @client.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

              <ul>
                <% @client.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :business_name, :class => "required" %>
          <%= f.text_field :business_name, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :billing_address %>
          <%= f.text_field :billing_address, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :street_address %>
          <%= f.text_field :street_address, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :suit_unit %>
          <%= f.text_field :suit_unit, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :country_id %>
          <%= select :client, :country_id, Country.all.collect { |c| [c.name, c.id] }, {:prompt => 'Select Country'}, {:class => 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :state_id %>
          <%= select :client, :state_id, State.all.collect { |c| [c.name, c.id] }, {:prompt => 'Select State'}, {:class => 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :phone, :class => "required" %>
          <%= f.text_field :phone, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :website %>
          <%= f.text_field :website, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :primary_user, :class => "required" %>
          <%= link_to 'Create New', new_users_admin_path, :class => 'btn btn-primary btn-xs' %>
          <%#= select :client, :user_ids, User.all.collect { |c| [c.name, c.id] }, {:prompt => 'Select User'}, {:class => 'form-control'} %>
          <% for user in User.all %>
              <div class="checkbox-margin">
                <%= check_box_tag "client[user_ids][]", user.id, @client.users.include?(user) %>
                <%= user.name %>
              </div>
          <% end %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
        <div class="form-group">
          <label class="text-danger">*</label> = required field
        </div>
    <% end %>
  </div>
</div>
