<div class="row">
  <div class="col-lg-12">
    <h2>Clients</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>Business name</th>
          <th>Billing address</th>
          <th>Street address</th>
          <th>Suit unit</th>
          <th>City</th>
          <th>Zip code</th>
          <th>Country</th>
          <th>State</th>
          <th>Phone</th>
          <th>Website</th>
          <th>User</th>
          <th>New User</th>
          <th>Total time logged</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @clients.each do |client| %>
            <tr>
              <td><%= client.business_name %></td>
              <td><%= client.billing_address %></td>
              <td><%= client.street_address %></td>
              <td><%= client.suit_unit %></td>
              <td><%= client.city %></td>
              <td><%= client.zip_code %></td>
              <td><%= country(client.country_id) %></td>
              <td><%= state(client.state_id) %></td>
              <td><%= client.phone %></td>
              <td><%= client.website %></td>
              <td><%= link_to_user(client.users) %></td>
              <td><%= link_to('Add User', new_users_admin_path(client_id: client.id), :class => 'text-info', :target => '_blank') %></td>
              <td><%= total_time_logged_str(client.total_time_logged) %></td>
              <td><%= link_to 'Show', client %></td>
              <td><%= link_to 'Edit', edit_client_path(client) %></td>
              <td><%= link_to 'Destroy', client, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Client', new_client_path %>
  </div>
</div><!-- /.row -->

