<div class="row">
  <div class="col-lg-12">
    <h1>Request Infos</h1>

    <div class="table-responsive">
      <table class="table table-bordered table-hover data-table">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Comments</th>
          <th>Query</th>
          <th>Created At</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @request_infos.each do |request_info| %>
            <tr>
              <td><%= request_info.first_name %></td>
              <td><%= request_info.last_name %></td>
              <td><%= request_info.email %></td>
              <td><%= request_info.comments %></td>
              <td><%= request_info.query %></td>
              <td><%= formated_datetime(request_info.created_at) %></td>
              <td>
                <%= link_to request_info, title: 'show' do %>
                    <i class="glyphicon glyphicon-list-alt"></i>
                <% end %>

                <%= link_to edit_request_info_path(request_info), title: 'edit' do %>
                    <i class="glyphicon glyphicon-edit"></i>
                <% end %>

                <%= link_to request_info, method: :delete, data: {confirm: 'Are you sure?'}, title: 'delete' do %>
                    <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Request info', new_request_info_path %>
  </div>
</div><!-- /.row -->

