<div class="row">
  <div class="col-lg-12">
    <h2>Contacts</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Title</th>
          <th>Office phone</th>
          <th>Mobile phone</th>
          <th>Contact method</th>
          <th>Customer</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.first_name %></td>
              <td><%= contact.last_name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.title %></td>
              <td><%= contact.office_phone %></td>
              <td><%= contact.mobile_phone %></td>
              <td><%= contact.contact_method %></td>
              <td><%= contact.try(:customer).try(:business_name) %></td>
              <td><%= link_to 'Show', contact %></td>
              <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
              <td><%= link_to 'Destroy', contact, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Contact', new_contact_path %>
  </div>
</div><!-- /.row -->
