<% content_for :head do %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>


<div class="row">
  <div class="col-lg-12">
    <h2>Projects</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>Project name</th>
          <th>Project number</th>
          <th>Customer</th>
          <th>Contact</th>
          <th>Client</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Notes</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.number %></td>
              <td><%= project.customer.business_name %></td>
              <td><%= link_to_contact(project.contacts) %></td>
              <td><%= project.try(:client).try(:business_name) %></td>
              <td><%= formated_date(project.start_date) %></td>
              <td><%= formated_date(project.end_date) %></td>
              <td><%= project.notes %></td>
              <td><%= link_to 'Show', project %></td>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Project', new_project_path %>
  </div>
</div><!-- /.row -->

<%= bar_chart TimeLog.includes(:project).scoped.group(:project_id).sum(:logged).map { |k, v| [Project.find(k).name, conver_hour(v)] } %>
<div class="text-center">
  <label> Fig: Show total time logged by project(X-axis shows total time logged in hours and Y-axis show all projects)</label>
</div>
